<app-navbar></app-navbar>

<div class="home-container">
<div class="filters">

  <p class="recent-title">Mais Recentes:</p>
  <p class="filter-title">Filtradas por interesses:</p>

  <div class="filter-options">

    <label>
      <input type="checkbox" checked>
      CURSO
    </label>

    <label>
      <input type="checkbox" checked>
      TURMA 1
    </label>

    <label>
      <input type="checkbox" checked>
      TURMA 2
    </label>

  </div>

</div>

<button
  type="button"
  class="question-button"
  (click)="fazerPergunta()">
  Fazer Pergunta
</button>
@for (duvida of duvidas; track duvida.id) {

  <article
    class="duvida-card"
    (click)="visualizarDuvida(duvida.id)">

    <div class="stats">

      <div class="stat">
        <strong>{{ duvida.upVotes - duvida.downVotes }}</strong>
        <span>Votos</span>
      </div>

    </div>

    <div class="duvida-content">

      <h2>{{ duvida.title }}</h2>

      <div class="tags">

        @for (tag of duvida.tags; track tag.id) {
          <span class="tag">
            {{ tag.name }}
          </span>
        }

      </div>

    </div>

  </article>

}
</div>