<div class="main-div">
    <app-navbar></app-navbar>
    <div class="container">
        <form [formGroup]="postForm" style="display: flex; flex-direction: column;">
            <b><label for="title">Título</label></b>
            <input class="input" formControlName="title" id="title">
            <br>
            <div class="tags">
                @for (tag of tagsCriadas; track tag) {
                    <button type="button" class="tag-button">
                        {{ tag }}
                        <img src="/close.png" height="15" width="15" style="padding-left: 2px;" (click)="removeTag(tag)">
                    </button>
                }
                <a class="plus-button" (click)="abrirFecharTag()">
                    <img src="/plus.png" height="25" width="25">
                </a>
            </div>
            @if (novaTag) {
                <br>
                <div class="tag-input">
                    <input class="input" style="flex: 1;" type="text" [(ngModel)]="nomeTag" [ngModelOptions]="{standalone: true}">
                    <div class="tag-buttons">
                        <button class="button" (click)="adicionarTag()">Adicionar</button>
                        <button class="button" (click)="abrirFecharTag()">Cancelar</button>
                    </div>
                </div>
            }
            <br>
            <b><label for="content">Descrição</label></b>
            <textarea style="height: 300px; resize:none;" id="content" formControlName="content"></textarea>
            <br>
            <button type="submit" class="button" (click)="submit()">Editar</button>
        </form>
    </div>
</div>