<div class="main-div">
    <header class="header">
        <h1 style="padding-left: 50px;">Qampus</h1>
        <div class="user-menu">
            <img src="/user-logo.png" style="cursor: pointer;" width="40" height="40" (click)="toggleMenu()">
            @if (menuAberto) {
                <div class="dropdown">
                    <button (click)="logout()">Deslogar</button>
                </div>
            }
        </div>
    </header>
    <div class="container">
        <form style="display: flex; flex-direction: column;">
            <b><label>Título</label></b>
            <input class="input">
            <br>
            <div class="tags">
                @for (tag of tags; track tag) {
                    <button class="tag-button">
                        {{ tag }}
                    </button>
                }
                <button class="plus-button" (click)="abrirNovaTag()">
                    <img src="/plus.png" height="25" width="25">
                </button>
            </div>
            @if (novaTag) {
                <br>
                <div class="tag-input">
                    <input class="input" style="flex: 1;" type="text" [(ngModel)]="nomeTag" [ngModelOptions]="{standalone: true}">
                    <div class="tag-buttons">
                        <button class="button" (click)="adicionarTag()">Adicionar</button>
                        <button class="button" (click)="fecharNovaTag()">Cancelar</button>
                    </div>
                </div>
            }
            <br>
            <b><label>Descrição</label></b>
            <textarea style="height: 383px; resize:none;"></textarea>
        </form>
    </div>
</div>